.section-title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  color: var(--color-white-text);
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 22px;
    line-height: 27px;
  }
}

@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 22px;
    line-height: 27px;
  }
}
