.footer {
  background-color: var(--color-darkest-bg);
}

.footer__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer__title {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: var(--color-suva-grey-text);
  padding-bottom: 20px;
  border-bottom: 1px solid #424242;
}

.footer__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.links__list-item {
  margin: 0;
  padding: 0;
}

.links__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-white-text);
  transition: opacity 0.2s ease-in;
}

.links__link:hover {
  opacity: 0.6;
}

.footer__copy {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-suva-grey-text);
}

@media screen and (min-width: 768px) {
  .footer__container {
    padding: 80px 30px 20px;
    align-items: stretch;
  }

  .footer__title {
    font-size: 13px;
    line-height: 16px;
  }

  .footer__body {
    margin-top: 20px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .links {
    flex-direction: row;
    gap: 20px;
  }

  .links__link {
    font-size: 13px;
    line-height: 16px;
  }

  .footer__copy {
    font-size: 13px;
    line-height: 16px;
  }
}
