.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.card__image {
  width: 300px;
  height: 168px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 15px;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-white-text);
}

.card__duration {
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: var(--color-suva-grey-text);
}

.card__button {
  padding-top: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: none;
  border: none;
}

@media screen and (min-width: 768px) {
  .card__image {
    width: 339px;
    height: 190px;
  }

  .card__title {
    font-size: 13px;
    line-height: 16px;
  }

  .card__duration {
    font-size: 11px;
    line-height: 13px;
  }
}

@media screen and (min-width: 1280px) {
  .card__image {
    width: 360px;
    height: 200px;
  }
}
