@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

* {
  box-sizing: border-box;
}

:root {
  --color-green-bg: #3ddc84;
  --color-darkest-bg: #202020;
  --color-darker-bg: #272727;
  --color-dark-bg: #303030;
  --color-landing-bg: #073042;
  --color-white-text: #fff;
  --color-black-text: #000;
  --color-grey-text: #a0a0a0;
}
